# linux -> chmod 700 for the pub keys; 600 for private; 640 for the .ssh dir

# ssh client reads its configuration in the following precedence order:
#  Options specified from the command line.
#  Options defined in the ~/.ssh/config.
#  Options defined in the /etc/ssh/ssh_config.

# overwrite user
# ssh -o "User=root" dev

# use different config file
# ssh -F "/path/to/another/config" 

# generate keys (https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)
# ssh-keygen -t ed25519-sk -C "$(hostname)-$(date +'%d-%m-%Y')-physical_key_number" # does not work with Thetis or Feitian
# ssh-keygen -t ecdsa-sk -C "$(hostname)-$(date +'%d-%m-%Y')-physical_key_number" # for older versions, works with Thetis
# ssh-add # Note: ssh-add -K didn't work, without -K option is ok

# mkdir -p ~/.ssh && chmod 700 ~/.ssh
# touch ~/.ssh/config
# chmod 600 ~/.ssh/config

Host *
    User
    Port 22
    AddKeysToAgent yes
    ControlMaster auto
    ControlPath ~/.ssh/%r@%h:%p
    ControlPersist yes
    Compression yes

# Secretive Config
Host *
    IdentityAgent /Users/vale/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

# Host specific configs
Host
    HostName
    Port
    User
    IdentityFile