# linux -> chmod 700 for the pub keys; 600 for private; 640 for the .ssh dir
Host *
    User
    Port 22
    IdentityFile
    AddKeysToAgent yes
    IgnoreUnknown UseKeychain
    ControlMaster auto
    ControlPath ~/.ssh/%r@%h:%p
    ControlPersist yes
    Compression yes

# Secretive Config
Host *
    IdentityAgent /Users/vale/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

# Host specific configs
Host
    HostName
    Port
    User
    IdentityFile